@font-face {
  src: url(Chewy.ttf);
  font-faily: Chewy; }
html {
  background: #fff;
  color: #000; }

body {
  background: #fff;
  color: #000;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "microsoft yahei",Chewy, arial, serif,KaiTi,SimHei,SimHei; }

a, * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

#pages.enableTransition > section {
  -moz-transition-duration: 1s, 0s;
  -o-transition-duration: 1s, 0s;
  -webkit-transition-duration: 1s, 0s;
  transition-duration: 1s, 0s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
#pages > section {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-delay: 0s, 2s;
  -o-transition-delay: 0s, 2s;
  -webkit-transition-delay: 0s, 2s;
  transition-delay: 0s, 2s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -moz-transform: translate3d(-100%, -200%, 0);
  -webkit-transform: translate3d(-100%, -200%, 0);
  transform: translate3d(-100%, -200%, 0);
  clear: both;
  z-index: -1;
  opacity: 0; }
  #pages > section.center {
    -moz-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    -moz-transform: translate3d(0%, 0, 0);
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    z-index: 0;
    opacity: 1; }
  #pages > section.west {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  #pages > section.east {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  #pages > section.north {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  #pages > section.south {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  #pages > section.west-north {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(-100%, -100%, 0);
    -webkit-transform: translate3d(-100%, -100%, 0);
    transform: translate3d(-100%, -100%, 0); }
  #pages > section.west-south {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(-100%, 100%, 0);
    -webkit-transform: translate3d(-100%, 100%, 0);
    transform: translate3d(-100%, 100%, 0); }
  #pages > section.east-north {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0); }
  #pages > section.east-south {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(100%, 100%, 0);
    -webkit-transform: translate3d(100%, 100%, 0);
    transform: translate3d(100%, 100%, 0); }

.hiding {
  display: none; }

.sym-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-size: cover;
  background-image: url(/static/images/sch/bg-faint-pc.jpg); }
  .sym-container .board {
    display: block;
    width: 820px;
    height: 510px;
    position: relative;
    top: 70px;
    margin: auto; }
    .sym-container .board > svg {
      width: 500px;
      height: 500px;
      display: inline-block; }
      .sym-container .board > svg .node {
        cursor: pointer; }
      .sym-container .board > svg .node:hover {
        stroke: #000;
        stroke-width: 1.5px; }
      .sym-container .board > svg .node--leaf {
        fill: white; }
      .sym-container .board > svg .label {
        font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-anchor: middle;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; }
      .sym-container .board > svg .label {
        pointer-events: none; }

#sym-stack-svg {
  width: 300px;
  height: 500px;
  display: inline-block; }

.sch-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-size: cover;
  background-image: url(/static/images/sch/bg-white-paper.jpg);
  transition-property: background;
  -moz-transition-duration: 1s, 0s;
  -o-transition-duration: 1s, 0s;
  -webkit-transition-duration: 1s, 0s;
  transition-duration: 1s, 0s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  .sch-container svg {
    width: 100%;
    height: 100%;
    display: block; }

.ctl-nav-left {
  position: absolute;
  top: 10px;
  left: 10px;
  display: block;
  float: left; }

.ctl-nav-right {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  float: right; }

.ctl-nav-block {
  display: inline-block; }

.ctl-dummy-block {
  width: 10px; }

.ctl-button {
  display: inline-block; }
  .ctl-button a {
    color: black; }

.ctl-caption {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.75);
  color: #0080ff;
  font-size: 20px; }

.ctl-username {
  display: inline-block;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.5); }
  .ctl-username a {
    margin-left: 10px;
    margin-right: 10px; }

.ctl-search {
  font-size: 15px;
  display: inline-block; }

.sym-search-txt {
  width: 20em;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  background: rgba(245, 245, 245, 0.4);
  padding-left: 10px;
  color: navyblue; }

.breadcrumb {
  margin-bottom: 0;
  background: rgba(245, 245, 245, 0.4); }

/*# sourceMappingURL=board.css.map */
