.red {
	color:red;}
.fab_text{
	color:#336699;
	font-size: 2em; }

.infobox{
	width:200px;
	.message{
		border:1px solid red;
			.tilte{
				color:red;}}
	.user{
		border:2px solid black;
			.title{
				color:black;}}}


	