$primary_color:#369;
$secondary_color:#eee;
$page_width:300px;

body{
	background: $primary_color;
	
	}

.red {
	color:red;}
.fab_text{
	color:#336699;
	font-size: 2em; }

.infobox{
	width:200px;
	.message{
		border:1px solid red;
			.tilte{
				color:red;}}
	.user{
		border:2px solid black;
			.title{
				color:black;}}}

.blue_button {
background: #336699;
font-weight: bold;
color: white;
padding: 5px; }

.checkout-button{
	@extend .blue_button 
}

@each $member in tom, john, colin, phil{
	.#{$member}_picture{
		background-image: url("/image/#{$member}.jpg");
	}
}


	