{% extends "template_bs_main.html" %}

{% block body %}

<header id="head" class="secondary"></header> 

<!-- container -->
<div class="container">
  <!--   <ol class="breadcrumb">
    <li><a href="/">{% ifequal language "en-US" %}Home{% else %}主页{% endifequal %}</a></li>
    <li class="active">{% ifequal language "en-US" %}Account{% else %}帐号{% endifequal %}</li>
  </ol> -->

  <div class="row">
    <!--       <header class="page-header">	<h1 class="page-title">{{ user.username }}{% ifequal language "en-US" %}'s Account{% else %}的账户{% endifequal %}</h1>      </header> -->
      <div class="row">
	  <aside class="col-md-3 sidebar sidebar-left">
	      <img src="/static/images/man.png" width="160px" class="img-rounded"></img>
	      <h4 class="text-center">{{ user.username }}</h4>
	      <ul class="list-group">
		  <li class="list-group-item">Company:</li>
		  <li class="list-group-item">Location:</li>
		  <li class="list-group-item">Email:</li>
		  <li class="list-group-item">Website:</li>
		  <li class="list-group-item">Join Date:</li>
	      </ul>
	  </aside>
	  
	  <article class="col-md-9 col-xs-8 maincontent">
	      <div class="page-header">
		{% ifequal language "en-US" %}<h2 style="display:inline;">Account <small>management </small></h2><button class="btn btn-xs btn-info pull-right" type="button" style="display:inline">Edit Profile</button>		        {% else %}<h2>账户 <small>管理</small></h2>
		{% endifequal %}
		
	      </div>
	      <p id="paragraph">
		<table id="project-table" class="table table-hover table-striped table-bordered ">
		  <caption style="text-align:left">{% ifequal language "en-US" %}Projects{% else %}项目列表{% endifequal %}<a href="/"><span class="glyphicon glyphicon-plus pull-right pull-margin-left"></span></a><a href="/"><span class="glyphicon glyphicon-minus pull-right pull-marin-left"></span></a></caption>
		  {% ifequal language "zh-CN" %}
		  <thead>
		    <tr>
		      <th id="first_row"><input type="checkbox"></input></th>
		      <th>项目名称</th>
		      <th>描述</th>
		      <th>上次修改</th>
		    </tr>
		  </thead>
		  {% else %}
		  <thead>
		    <tr>
		      <th id="first_row"><input type="checkbox" ></input></th>
		      <th>Project Name</th>
		      <th>Description</th>
		      <th>Last Modified</th>
		    </tr>
		  </thead>
		  {% endifequal %}
		  <tbody id="project-list">
		    {% for project in files %}
		    <tr>
		      <td><input type="checkbox"></td>
		      <td><a href="">{{ project.name }}</a></td>
		      <td>{{ project.descrip }}</td>
		      <td>{{ project.modified_date|date:"Y-M-d H:i"}}</td>
		    </tr>
		    {% endfor %}
		    <tr>
		      <td> </td>
		      <td> </td>
		      <td> </td>
		      <td> </td>
		    </tr>
		  </tbody>
		</table><!-- end of id file_list_content -->
	      </p>
	  </article>
      </div>

    <!-- /Article -->
  </div>
</div>	<!-- /container -->
{% endblock body %}


{% block script %}
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/headroom.min.js"></script>
<script src="/static/js/jQuery.headroom.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/bs.js"></script>
<script src="/static/js/bs_account.js"></script>
<!-- <script src="/static/js/bs_register.js"></script> -->
{% endblock %}

