{% extends "template_bs_main.html" %}

{% block body %}

	<header id="head" class="secondary"></header> 

	<!-- container -->
	<div class="container">

	  <ol class="breadcrumb">
	    <li><a href="/">{% ifequal language "en-US" %}Home{% else %}主页{% endifequal %}</a></li>
	    <li class="active">{% ifequal language "en-US" %}Register{% else %}注册{% endifequal %}</li>
	  </ol>
	  <div class="row">
	    <!-- Article main content -->
	    <article class="col-xs-12 maincontent">
	      <header class="page-header">
		<h1 class="page-title">{% ifequal language "en-US" %}Registration{% else %}注册{% endifequal %}</h1>
	      </header>
	      
	      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <h3 class = "thin text-center">{% ifequal language "en-US" %}"Register a new account"{% else %}"注册新账户"{% endifequal %}</h3>
		    <p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="/signin/">Login</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
		    <hr>

		    <form method="post" action="/register/">
		      {% csrf_token %}
		      <div class="top-margin">
			<label>First Name</label>
			<input type="text" class="form-control">
		      </div>
		      <div class="top-margin">
			<label>Last Name</label>
			<input type="text" class="form-control">
		      </div>
		      <div class="top-margin">
			<label>Email Address <span class="text-danger">*</span></label>
			<input type="text" class="form-control">
		      </div>
		      
		      <div class="row top-margin">
			<div class="col-sm-6">
			  <label>Password <span class="text-danger">*</span></label>
			  <input type="text" class="form-control">
			</div>
			<div class="col-sm-6">
			  <label>Confirm Password <span class="text-danger">*</span></label>
			  <input type="text" class="form-control">
			</div>
		      </div>
		      
		      <hr>
		      
		      <div class="row">
			<div class="col-lg-8">
			  <label class="checkbox">
			    <input type="checkbox"> 
			    I've read the <a href="page_terms.html">Terms and Conditions</a>
			  </label>                        
			</div>
			<div class="col-lg-4 text-right">
			  <button class="btn btn-action" type="submit">Register</button>
			</div>
		      </div>
		    </form>
		  </div>
		</div>
	      </div>
	    </article>
	    <!-- /Article -->
	  </div>
	</div>	<!-- /container -->
	
	{% endblock body %}


{% block script %}
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/headroom.min.js"></script>
	<script src="/static/js/jQuery.headroom.min.js"></script>
	<script src="/static/js/template.js"></script>
	<script src="/static/js/bs.js"></script>
	<script src="/static/js/bs_register.js"></script>
{% endblock %}
	
