{% extends "template_bs_main.html" %}

{% block body %}

	<header id="head" class="secondary"></header> 

	<!-- container -->
	<div class="container">

	  <ol class="breadcrumb">
	    <li><a href="/">{% ifequal language "en-US" %}Home{% else %}主页{% endifequal %}</a></li>
	    <li class="active">{% ifequal language "en-US" %}Signin{% else %}登录{% endifequal %}</li>
	  </ol>
	  <div class="row">
	    <!-- Article main content -->
	    <article class="col-xs-12 maincontent">
	      <header class="page-header">
		<h1 class="page-title">{% ifequal language "en-US" %}Sign in{% else %}登录{% endifequal %}</h1>
	      </header>
	      
	      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
		  <div class="panel-body">
		    <h3 class="thin text-center">{% ifequal language "en-US" %}Sign in to your account{% else %}登录账户{% endifequal %}</h3>
		    <p class="text-center text-muted">{% ifequal language "en-US" %}New user please  <a href="/register/">Register</a>{% else %}新用户请<a href="/register/">注册</a>{% endifequal %}</p>
		    <hr>
		    <form id="form_signin" method="post" onsubmit="return validate();" action="/signin/">
		      {% csrf_token %}
		      <div class="form-group has-feedback">
			<label class="control-label" for="email_register">Email Address *</label>
			<input id="email_signin" type="text" class="form-control" name="email">
			<span class="glyphicon form-control-feedback"></span>
			<div style="display:none;" class="alert alert-warning" role="alert">{% ifequal language "en-US" %}Wrong email format.{% else %}邮件地址格式不正确。{% endifequal %}</div>
		      </div>
		      <div class="form-group has-feedback">
			<label  class="control-label" for="pwd_register">Password *</label>
			<input id="pwd_signin" type="text" class="form-control" name="password" type="password">
			<span class="glyphicon form-control-feedback"></span>
			<div style="display:none;" class="alert alert-warning" role="alert">{% ifequal language "en-US" %}Wrong password, should be less than 40.{% else %}密码长度要短于40，无中文字符。{% endifequal %}</div>
		      </div>
		      <hr>
		      <div class="row">
			{% if form.email.errors %}
			<div style="" class="alert alert-danger" role="alert">{% ifequal language "en-US" %}Email not exists or with a wrong format.{% else %}邮件地址不存在。{% endifequal %}</div>
			{% endif %}
			{% if form.password.errors %}
			<div style="" class="alert alert-danger" role="alert">{% ifequal language "en-US" %}Password  is wrong.{% else %}密码不对。{% endifequal %}</div>
			{% endif %}
			{% if form.activation.errors %}
			<div style="" class="alert alert-danger" role="alert">{% ifequal language "en-US" %}Account need activation, please check your mailbox.{% else %}帐号还没有激活，请查看你的注册信箱。{% endifequal %}</div>
			{% endif %}

		      </div>
		      <div class="row">
			<div class="col-lg-8">
			  <b><a href="">Forgot password?</a></b>
			</div>
			<div class="col-lg-4 text-right">
			  <button id="btn_signin" class="btn btn-action" type="submit">Sign in</button>
			</div>
		      </div>
		    </form>
		  </div>
		</div>
	      </div>
	      
	    </article>
	    <!-- /Article -->
	    
	  </div>
	</div>	<!-- /container -->
	
{% endblock body %}


{% block script %}
	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/headroom.min.js"></script>
	<script src="/static/js/jQuery.headroom.min.js"></script>
	<script src="/static/js/template.js"></script>
	<script src="/static/js/bs.js"></script>
	<script src="/static/js/bs_signin.js"></script>
{% endblock %}
	
