{% extends "template_smith_base.html" %}

{% block head-meta %}
<meta name="description" content="Online Smith Chart Simulation tool." />
<meta name="KEYWords" content="Smith Chart, Smith5, simulation, online smith chart, tools, html5" />
<meta name="writer" content="spike yang, boxshell, boxshell.com" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock head-meta %}

{% block head-link %}
<link rel="icon" href="/static/images/smith5.ico" type="image/x-icon" />
{% endblock head-link %}


