{% extends "template_base.html" %}

{% block head-meta %}
<meta charset="utf-8">
<meta name="description" content="Online EDA tool." />
<meta name="KEYWords" content="Online , EDA, schematic, schematic design, tools, html5" />
<meta name="writer" content="spike yang, boxshell, boxshell.com" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock head-meta %}

{% block head-link %}
<link rel="icon" href="/static/images/teapot.ico" type="image/x-icon" />
{% endblock head-link %}
