{% extends "template_base.html" %}

{% block head-meta %}
<meta name="description" content="BoxShell.com, an internet company in China." />
<meta name="KEYWords" content="Smith5, simulation, online smith chart, tools, html5, online schematic, BoxShell, " />
<meta name="writer" content="spike yang, boxshell, boxshell.com" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% endblock head-meta %}

{% block head-link %}
<link rel="icon" href="/static/images/boxshell.ico" type="image/x-icon" />
{% endblock head-link %}


