<div class="sym-container">
    <div class="board" id="sym-board" >
	<svg id="sym-svg">
	</svg>
	<div id="sym-stack-svg"></div>
	<!-- <svg id="sym-stack-svg" xmlns="http://www.w3.org/2000/svg">
	<!-- <circle cx="70" cy="95" r="50" style="stroke: black; fill: none;" /> -->
	<!-- <defs>
	<linearGradient id="g-circle">
	<stop offset="0" stop-color="white"/>
	<stop offset="1" stop-color="red"/>
	</linearGradient>
	<radialGradient id="rg-circle">
	<stop offset="0" stop-color="white"/>
	<stop offset="1" stop-color="red"/>
	</radialgradient>
	</defs> 
	</svg> -->
	
    </div>

    <div class="ctl-nav-right" id="sym-toolbar-h">
	<!-- <div class="ctl-button" id="sym-cmd-setting">
	<a href="javascript:void(0)" id="cmd-setting"><span class="glyphicon glyphicon-cog"></span></a>
	</div> -->
	<div class="ctl-nav-block">
	    <span class="badge">
		{{ user.username }}
	    </span>
	</div>
	<div class="ctl-dummy-block ctl-nav-block">

	</div>
	<div class="ctl-button" id="sym-cmd-sch">
	    <a href="javascript:void(0)" id="cmd-setting"><span class="glyphicon glyphicon glyphicon-log-out"></span></a>
	</div>

    </div>

    <div class="ctl-nav-left" id="sym-nav">
	<div class="ctl-nav-block">
	    <ol class="breadcrumb">
		<li>
		{% ifequal language "en-US" %}Symbol{% else %}元件{% endifequal %}
		</li>
		<li>Library</li>
	    </ol>
	</div>

	<div class="ctl-nav-block">
	    <input type="text" class="span2 sym-search-txt" placeholder="device key words" id="sym-search-txt" data-provide="typeahead" data-source="['alba','asdf','abc']">
	    <button type="button" class="btn btn-default btn-sm active" id="sym-search-btn">
                <span class="glyphicon glyphicon-search"></span>
            </button>
	</div>
    </div>

</div>
