{% extends "drawings/template_bs_board.html" %}

{% block head-css %}
<!-- specific css definition for webapp -->

{% endblock head-css %}

{% block body %}

<div id="pages">
  <section id="section0" class="west-north">{{ section0 }}</section>
  <section id="section1" class="north">{{ section1 }}</section>
  <section id="section2" class="east-north">{{ section2 }}</section>
  <section id="section3" class="west">{{ section3 }}</section>
  <section id="section4" class="center">{{ section4 }}</section>
  <section id="section5" class="east">{{ section5 }}</section>
  <section id="section6" class="west-south">{{ section6 }}</section>
  <section id="section7" class="south">{{ section7 }}</section>
  <section id="section8" class="east-south">{{ section8 }}</section>
</div>
<div class="hiding">
  <h2>yuanyuan is crying</h2>

</div>
{% endblock body %}

{% block script %}

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/headroom.min.js"></script>
<script src="/static/js/jQuery.headroom.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/underscore.js"></script>
<script src="/static/js/d3.min.js" charset="utf-8"></script>
<script src="/static/js/board.js" charset="utf-8"></script>
{% endblock script %}
