{% extends "drawings/template_bs_board.html" %}

{% block head-css %}
<!-- specific css definition for webapp -->

{% endblock head-css %}

{% block body %}

<div id="pages">

</div>
<div class="hiding">
  <h2>yuanyuan is crying</h2>
  <div id="s0">{{ section0 }}</div>
  <div id="s1">{{ section1 }}</div>
  <div id="s2">{{ section2 }}</div>
  <div id="s3">{{ section3 }}</div>
  <div id="s4">{{ section4 }}</div>
  <div id="s5">{{ section5 }}</div>
  <div id="s6">{{ section6 }}</div>
  <div id="s7">{{ section7 }}</div>
  <div id="s8">{{ section8 }}</div>
</div>
{% endblock body %}

{% block script %}

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/headroom.min.js"></script>
<script src="/static/js/jQuery.headroom.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/underscore.js"></script>
<script src="/static/js/d3.min.js" charset="utf-8"></script>
<script src="/static/js/board.js" charset="utf-8"></script>
{% endblock script %}
