{% extends "drawings/template_bs_drawings.html" %}

{% block body %}
<div id="frame_block" class="canvas_container">
    <svg id="svg_root" class="chart">
	

    </svg>
</div>

<p id="menu"><b>Top States by Age Bracket, 2008</b><br>Age: <select></select>
<div class="account">
    {{ user.username }}
</div>

<div id="setting_dlg" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
	<form class="form-horizontal" role="form">
	  <div class="form-group">
	    <label for="select_bg" class="col-sm-4 control-label">Background Color</label>
	    <div class="col-sm-5">
	      <select class="form-control input-sm" id="select_bg">
		<option>white</option>
	      </select>
	      
	      <div id="lib_background"></div>
	    </div>
	  </div>
	  <!-- <div class="form-group"> -->
	  <!--   <label for="exampleInputFile" class="col-sm-3 control-label">File input</label> -->
	  <!--   <div class="col-sm-9"> -->
	  <!--     <input type="file" id="exampleInputFile"> -->
	  <!--     <p class="help-block">Example block-level help text here.</p> -->
	  <!--   </div> -->
	  <!-- </div> -->

	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="option_save">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock body %}

{% block script %}
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/headroom.min.js"></script>
<script src="/static/js/jQuery.headroom.min.js"></script>
<script src="/static/js/template.js"></script>
<script src="/static/js/underscore.js"></script>
<script src="/static/js/d3.min.js" charset="utf-8"></script>
<script src="/static/js/bs.js"></script>
<script src="/static/js/newslib.js"></script>
{% endblock script %}
