@font-face {
  src: url(Chewy.ttf);
  font-faily: Chewy; }
html {
  background: #fff;
  color: #000; }

body {
  background: #fff;
  color: #000;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-family: Chewy, arial, serif; }

a, * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

#pages.enableTransition > section {
  -moz-transition-duration: 1s, 0s;
  -o-transition-duration: 1s, 0s;
  -webkit-transition-duration: 1s, 0s;
  transition-duration: 1s, 0s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
#pages > section {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-delay: 0s, 2s;
  -o-transition-delay: 0s, 2s;
  -webkit-transition-delay: 0s, 2s;
  transition-delay: 0s, 2s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -moz-transform: translate3d(-100%, -200%, 0);
  -webkit-transform: translate3d(-100%, -200%, 0);
  transform: translate3d(-100%, -200%, 0);
  clear: both;
  z-index: -1;
  opacity: 0; }
  #pages > section.center {
    -moz-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    -moz-transform: translate3d(0%, 0, 0);
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    z-index: 0;
    opacity: 1; }
  #pages > section.west {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  #pages > section.east {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  #pages > section.north {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  #pages > section.south {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  #pages > section.west-north {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(-100%, -100%, 0);
    -webkit-transform: translate3d(-100%, -100%, 0);
    transform: translate3d(-100%, -100%, 0); }
  #pages > section.west-south {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(-100%, 100%, 0);
    -webkit-transform: translate3d(-100%, 100%, 0);
    transform: translate3d(-100%, 100%, 0); }
  #pages > section.east-north {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(100%, -100%, 0);
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0); }
  #pages > section.east-south {
    z-index: -1;
    opacity: 0;
    -moz-transition-delay: 0s, 2s;
    -o-transition-delay: 0s, 2s;
    -webkit-transition-delay: 0s, 2s;
    transition-delay: 0s, 2s;
    -moz-transform: translate3d(100%, 100%, 0);
    -webkit-transform: translate3d(100%, 100%, 0);
    transform: translate3d(100%, 100%, 0); }

/*# sourceMappingURL=board.css.map */
